            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Quick Tips</h4>
                    <p><i class="fa fa-check text-success me-2"></i><a href="/uaevisa">UAE Types of Visa for Jobs</a></p>
                    <p><i class="fa fa-check text-success me-2"></i><a href="/uaejobsites">Top job sites in UAE</a></p>
                    <p><i class="fa fa-check text-success me-2"></i>Use platforms like LinkedIn, Dubizzle, and Naukrigulf</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Explore More</h4>
                    <p><i class="fa fa-link text-primary me-2"></i><a href="/jobsearchtips">Job Search Tips</a></p>
                    <p><i class="fa fa-link text-primary me-2"></i><a href="/jobform">Submit Your Profile</a></p>
                </div>
            </div>