

<!-- register.ejs -->
<%- include("../partials/header") %>

   <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="img/about-1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="img/about-3.jpg" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4">At CVforJobs.com, we are committed to empowering job seekers by providing professional, personalized career services tailored to the needs of individuals aiming to work in the UAE and the broader Gulf region. We offer a comprehensive range of career-enhancement tools tailored to job seekers at all stages—from students to experienced professionals in both private and public sectors . </p>
                        
                        
                         <h2 class="mb-4">Key Services</h2>
                        
                        <p><i class="fa fa-check text-primary me-3"></i>Expert CV and resume writing: Professionally structured documents that emphasize career objectives, achievements, and skills in line with UAE and regional market preferences.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Cover letter drafting: Custom cover letters that resonate with employers by highlighting relevant strengths and motivations.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Video resumes: Among the first providers in the UAE to introduce this format, helpful for standing out in competitive job markets.
</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Online personal profile/website setup: A polished representation of your professional image for recruiters and networking platforms.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Interview coaching: Guidance through interview processes, including mock sessions to boost confidence and performance.</p>
                        
                        <!--
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


 
<%- include("../partials/footer") %>